@import url('vars.css');
body {
  font-family: helvetica, arial, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family:var(--primary-font);
}

h1,h2,h3,h4,h5 {
  color: var(--logo-color);
  font-family: var(--logo-font-family);
  font-weight: bold;
  margin: 0;
}

a {
  color: var(--logo-color);
}

.logo {
  background-color: var(--logo-background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  height: max(10rem, 20vh);
  box-shadow: 0 -200px 20px 200px var(--logo-color);
}

.card {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid var(--logo-color);
    border-radius: 0.8rem;
    box-shadow: 0 2px 4px var(--logo-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.logo img {
  height: 4rem;
  filter: hue-rotate(0deg);
  transition-delay: 0s;
  transition-duration: 2s;
  transition-property: filter;
  transition-timing-function: ease;
}

.logo:hover img {
  filter: hue-rotate(-45deg);
}

.servicelist {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.servicelist figure {
    border: 1px solid var(--logo-color);
    border-radius: 0.2rem;
    margin: 0;
    padding: 0.5rem;
    width: min(10rem, calc((100vw - 2rem) / 3 - 1rem));
    margin-right: 0.33rem;
}

.servicelist figure:last-child {
    margin-right: 0;
}

body>*:not(:last-child) {
    margin-bottom: 1.5rem;
}

.spacer {
    margin: 0;
    padding: 0;
    flex-grow: 1;
    flex-shrink: 1;
}

footer {
    background: linear-gradient(0deg, var(--logo-background-color), transparent);
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

footer::before {
    content: "";
    width: min(10rem,80%);
    top: 0;
    left: calc(50% - min(5rem,40%));
    position: absolute;
    height: 1px;
    border-top: 1px dashed var(--logo-color);
}

.servicelist figure embed {
    height: 5rem;
    margin: 1rem 0;
}

.card>*{
  margin:0;
  margin-bottom: 1rem;
}
.card>*:last-child{
  margin:0;
}